.header#header
    .container
        .header__inner
            .header__wrapper.js-menu
                .header__nav.nav.js-header-wrap
                    a(href="#main").nav__item.js-click УСЛОВИЯ АКЦИИ
                    a(href="#benz").nav__item.js-click бензопилы
                    a(href="#izmel").nav__item.js-click измельчители
                    a(href="#vozdux").nav__item.js-click Воздуходувка
                    a(href="#air").nav__item.js-click аэратор
                a.header__logo(href="#header")
                    include ../../assets/images/logo.svg
            .header__column
                .header__burger.burg.js-burg
                    .burg__line
                    .burg__line
                    .burg__line
            a.header__logo.header__logo_hide
                include ../../assets/images/logo.svg