/**
 * SVG Icons Styles
 */

.icon {
	display: inline-block;
	//font-size: 10px;
}

.address {
	width:(577/512)*1em;
	height:1em;
}
.address-h {
	width:(577/512)*1em;
	height:1em;
}
.address-w {
	width:1em;
	height:(512/577)*1em;
}
.arrow_icon {
	width:(10/6.01)*1em;
	height:1em;
}
.arrow_icon-h {
	width:(10/6.01)*1em;
	height:1em;
}
.arrow_icon-w {
	width:1em;
	height:(6.01/10)*1em;
}
.icon-border {
	width:(168/168)*1em;
	height:1em;
}
.icon-border-h {
	width:(168/168)*1em;
	height:1em;
}
.icon-border-w {
	width:1em;
	height:(168/168)*1em;
}
.icon-calendar {
	width:(24.17/24.83)*1em;
	height:1em;
}
.icon-calendar-h {
	width:(24.17/24.83)*1em;
	height:1em;
}
.icon-calendar-w {
	width:1em;
	height:(24.83/24.17)*1em;
}
.icon-card {
	width:(30/22)*1em;
	height:1em;
}
.icon-card-h {
	width:(30/22)*1em;
	height:1em;
}
.icon-card-w {
	width:1em;
	height:(22/30)*1em;
}
.icon-clock {
	width:(279.96/279.96)*1em;
	height:1em;
}
.icon-clock-h {
	width:(279.96/279.96)*1em;
	height:1em;
}
.icon-clock-w {
	width:1em;
	height:(279.96/279.96)*1em;
}
.icon-left-table {
	width:(730.91/871.89)*1em;
	height:1em;
}
.icon-left-table-h {
	width:(730.91/871.89)*1em;
	height:1em;
}
.icon-left-table-w {
	width:1em;
	height:(871.89/730.91)*1em;
}
.icon-mail {
	width:(512/512)*1em;
	height:1em;
}
.icon-mail-h {
	width:(512/512)*1em;
	height:1em;
}
.icon-mail-w {
	width:1em;
	height:(512/512)*1em;
}
.icon-mail2 {
	width:(512/389.57)*1em;
	height:1em;
}
.icon-mail2-h {
	width:(512/389.57)*1em;
	height:1em;
}
.icon-mail2-w {
	width:1em;
	height:(389.57/512)*1em;
}
.icon-mailform {
	width:(512/389.7)*1em;
	height:1em;
}
.icon-mailform-h {
	width:(512/389.7)*1em;
	height:1em;
}
.icon-mailform-w {
	width:1em;
	height:(389.7/512)*1em;
}
.icon-mobile {
	width:(512/512)*1em;
	height:1em;
}
.icon-mobile-h {
	width:(512/512)*1em;
	height:1em;
}
.icon-mobile-w {
	width:1em;
	height:(512/512)*1em;
}
.icon-question {
	width:(514/512)*1em;
	height:1em;
}
.icon-question-h {
	width:(514/512)*1em;
	height:1em;
}
.icon-question-w {
	width:1em;
	height:(512/514)*1em;
}
.icon-sand-clock {
	width:(16/27)*1em;
	height:1em;
}
.icon-sand-clock-h {
	width:(16/27)*1em;
	height:1em;
}
.icon-sand-clock-w {
	width:1em;
	height:(27/16)*1em;
}
.icon-sert {
	width:(260/180)*1em;
	height:1em;
}
.icon-sert-h {
	width:(260/180)*1em;
	height:1em;
}
.icon-sert-w {
	width:1em;
	height:(180/260)*1em;
}
.icon-slidearrow {
	width:(174.1/413)*1em;
	height:1em;
}
.icon-slidearrow-h {
	width:(174.1/413)*1em;
	height:1em;
}
.icon-slidearrow-w {
	width:1em;
	height:(413/174.1)*1em;
}
.icon-times {
	width:(511.99/512)*1em;
	height:1em;
}
.icon-times-h {
	width:(511.99/512)*1em;
	height:1em;
}
.icon-times-w {
	width:1em;
	height:(512/511.99)*1em;
}
.mail_form {
	width:(512/389.7)*1em;
	height:1em;
}
.mail_form-h {
	width:(512/389.7)*1em;
	height:1em;
}
.mail_form-w {
	width:1em;
	height:(389.7/512)*1em;
}
.mail_form_open {
	width:(469.37/508.94)*1em;
	height:1em;
}
.mail_form_open-h {
	width:(469.37/508.94)*1em;
	height:1em;
}
.mail_form_open-w {
	width:1em;
	height:(508.94/469.37)*1em;
}
.pixel_arrow {
	width:(174.1/413)*1em;
	height:1em;
}
.pixel_arrow-h {
	width:(174.1/413)*1em;
	height:1em;
}
.pixel_arrow-w {
	width:1em;
	height:(413/174.1)*1em;
}
.pixel_chamfer {
	width:(183/149)*1em;
	height:1em;
}
.pixel_chamfer-h {
	width:(183/149)*1em;
	height:1em;
}
.pixel_chamfer-w {
	width:1em;
	height:(149/183)*1em;
}
.pixel_say {
	width:(168/168)*1em;
	height:1em;
}
.pixel_say-h {
	width:(168/168)*1em;
	height:1em;
}
.pixel_say-w {
	width:1em;
	height:(168/168)*1em;
}
.vk {
	width:(163.53/117.9)*1em;
	height:1em;
}
.vk-h {
	width:(163.53/117.9)*1em;
	height:1em;
}
.vk-w {
	width:1em;
	height:(117.9/163.53)*1em;
}
