.footer
    .container
        .footer__inner
            .footer__wrap
                .footer__item
                    .footer__text Подробную информацию о спецпредложении  Вы можете получить у официальных дилеров STIHL, участвующих в данном спецпредложении, а также по телефону горячей линии STIHL: <a href='tel: +78004444180'>8 800 4444-180</a> и на сайте <a href='http://www.1926.ru' target='_blank'>www.1926.ru.</a> Список магазинов, которые участвуют в спецпредложении, размещен на сайте <a href='http://www.1926.ru' target='_blank'>www.1926.ru.</a> Количество товара по спецпредложению ограничено.
                .footer__item.footer__item_hide
                    .footer__nav.nav.js-menu
                        a(href="#benz").nav__item.nav__item_block бензопилы
                        a(href="#izmel").nav__item.nav__item_block измельчители
                        a(href="#vozdux").nav__item.nav__item_block Воздуходувка
                        a(href="#air").nav__item.nav__item_block аэратор
                .footer__item.footer__item_hide
                    .footer__logo.logo
                        .logo__item
                            include ../../assets/images/logo.svg
.footer-bottom
     .footer__logo.logo
        .logo__item
            include ../../assets/images/logo.svg
