.button{
    font-size: 18px;
    font-family: 'STIHL Contraface Display Title', sans-serif;
    color: #fff;
    background-color: #FF8800;
    padding: 14px 23px;
    border-radius: 2px;
    display: inline-block;
    min-width: 240px;
    text-align: center; 
    cursor: pointer;
}