.navigation.js-navigation
    .navigation__inner   
        a.navigation__nav.js-nav-scrolling.js-nav-dot(href='#main') 01
        .navigation__body.js-nav-line.active 
        a.navigation__nav.js-nav-scrolling.js-nav-dot(href='#benz') 02
        .navigation__body.js-nav-line
        a.navigation__nav.js-nav-scrolling.js-nav-dot(href='#izmel') 03
        .navigation__body.js-nav-line 
        a.navigation__nav.js-nav-scrolling.js-nav-dot(href='#air') 04
        .navigation__body.js-nav-line 
        a.navigation__nav.js-nav-scrolling.js-nav-dot(href='#vozdux') 05
        .navigation__body.js-nav-line 
        a.navigation__nav.js-nav-scrolling.js-nav-dot(href='#map') 06
