.product
    .container
        .product__inner
            #benz.js-screen
                .product__wrapper
                    h2.product__title.product__title_hide.title Бензопилы
                    .product__wrap.js-slick-main
                        .product__body
                            .product__body-inner
                                .product__body-wrapper
                                    .product__body-text
                                        h2.product__title.title Бензопилы
                                        h3.product__subtitle.subtitle Пила MS 170
                                        span.product__text.text Для работы в саду и на дачном участке для заготовки дров или обрезки деревьев идеально подойдет маленькая бензопила STIHL MS 170.
                                    .product__describe-wrap
                                        .product__describe.product__describe_block
                                            span <b>Технические данные</b>
                                        .product__describe
                                            span Рабочий объем 30,1 см³
                                        .product__describe
                                            span Мощность 1,8 л.с.
                                        .product__describe
                                            span Вес 4кг (без горючего, шины и цепи)
                                        .product__describe
                                            span Шина 35 см (возможен другой вариант)
                                    .product__price
                                        span 9 990 ₽
                                    .product__price.product__price_old
                                        span 10 990 ₽
                                    .product__btn.js-popup
                                        .product__button.button Подробнее
                                .product__bg(style='background-image: url(assets/images/ellips.png)')
                                    .product__pic.product__pic_width
                                        img(src="assets/images/ms170.png", alt="")
                        .product__body
                            .product__body-inner
                                .product__body-wrapper
                                    .product__body-text
                                        h2.product__title.title Бензопилы
                                        h3.product__subtitle.subtitle Пила MS 180
                                        span.product__text.text Идеальная бензопила для частного использования: строительства, работ на дачном участке, обрезка сучьев и уход за деревьями.
                                    .product__describe-wrap
                                        .product__describe.product__describe_block
                                            span <b>Технические данные</b>
                                        .product__describe
                                            span Рабочий объем 31,8 см³
                                        .product__describe
                                            span Мощность 2 л.с.
                                        .product__describe
                                            span Вес 3,9кг (без горючего, шины и цепи)
                                        .product__describe
                                            span Шина 35 см (возможен другой вариант)
                                    .product__price
                                        span 11 990 ₽
                                    .product__price.product__price_old
                                        span 12 990 ₽
                                    .product__btn.js-popup
                                        .product__button.button Подробнее
                                .product__bg(style='background-image: url(assets/images/ellips.png)')
                                    .product__pic.product__pic_width
                                        img(src="assets/images/ms180.png", alt="")
                        .product__body
                            .product__body-inner
                                .product__body-wrapper
                                    .product__body-text
                                        h2.product__title.title Бензопилы
                                        h3.product__subtitle.subtitle Пила MS 211
                                        span.product__text.text Очень современная бензопила с максимально низким уровнем вибрации для ухода за садовым участком.
                                    .product__describe-wrap
                                        .product__describe.product__describe_block
                                            span <b>Технические данные</b>
                                        .product__describe
                                            span Рабочий объем 35,2 см³ 
                                        .product__describe
                                            span Мощность 2,3 л.с.
                                        .product__describe
                                            span Вес 4,3 кг (без горючего, без шины и цепи)
                                        .product__describe
                                            span Шина 35 см (возможен другой вариант)
                                    .product__price
                                        span 19 900 ₽
                                    .product__price.product__price_old
                                        span 20 890 ₽
                                    .product__btn.js-popup
                                        a(href="#").product__button.button Подробнее
                                .product__bg(style='background-image: url(assets/images/ellips.png)')
                                    .product__pic.product__pic_rotate
                                        img(src="assets/images/ms211.png", alt="")
                        .product__body
                            .product__body-inner
                                .product__body-wrapper
                                    .product__body-text
                                        h2.product__title.title Бензопилы
                                        h3.product__subtitle.subtitle Пила MS 250
                                        span.product__text.text Лёгкая и мощная бензопила с надёжной оснасткой STIHL.
                                    .product__describe-wrap
                                        .product__describe.product__describe_block
                                            span <b>Технические данные</b>
                                        .product__describe
                                            span Рабочий объем 45,4 см³
                                        .product__describe
                                            span Мощность 3,1 л.с.
                                        .product__describe
                                            span Вес 4,6 кг (без горючего, шины и цепи)
                                        .product__describe
                                            span Шина 35 см (возможен другой вариант)
                                    .product__price
                                        span 19 990 ₽
                                    .product__price.product__price_old
                                        span 21 990 ₽
                                    .product__btn.js-popup
                                        .product__button.button Подробнее
                                .product__bg(style='background-image: url(assets/images/ellips.png)')
                                    .product__pic
                                        img(src="assets/images/ms250.png", alt="")
                        .product__body
                            .product__body-inner
                                .product__body-wrapper
                                    .product__body-text
                                        h2.product__title.title Бензопилы
                                        h3.product__subtitle.subtitle Пила MS 260
                                        img(src="assets/images/pro.png", alt="" class="product__subtitle-pic")
                                        span.product__text.text Самая популярная бензопила STIHL в мире. Уникальна и любима благодаря своей универсальности.
                                    .product__describe-wrap
                                        .product__describe.product__describe_block
                                            span <b>Технические данные</b>
                                        .product__describe
                                            span Рабочий объем 50,2 см³
                                        .product__describe
                                            span Мощность 3,5 л.с.
                                        .product__describe
                                            span Вес 4,8-4,9 кг (без горючего, шины и цепи)
                                        .product__describe
                                            span Шина 37 см (возможен другой вариант)
                                    .product__price
                                        span 27 990 ₽
                                    .product__price.product__price_old
                                        span 29 990 ₽
                                    .product__btn.js-popup
                                        .product__button.button Подробнее
                                .product__bg(style='background-image: url(assets/images/ellips.png)')
                                    .product__pic
                                        img(src="assets/images/ms260.png", alt="")
                        .product__body
                            .product__body-inner
                                .product__body-wrapper
                                    .product__body-text
                                        h2.product__title.title Бензопилы
                                        h3.product__subtitle.subtitle Пила MS 361
                                        img(src="assets/images/pro.png", alt="" class="product__subtitle-pic")
                                        span.product__text.text Самая популярная профессиональная бензопила, проверенная годами российскими морозами.
                                    .product__describe-wrap
                                        .product__describe.product__describe_block
                                            span <b>Технические данные</b>
                                        .product__describe
                                            span Рабочий объем 59 см³
                                        .product__describe
                                            span Мощность 4,6 л.с.
                                        .product__describe
                                            span Вес 5,6 кг (без горючего, шины и цепи)
                                        .product__describe
                                            span Шина 40 см (возможен другой вариант)
                                    .product__price
                                        span 39 990 ₽
                                    .product__price.product__price_old
                                        span 41 490 ₽
                                    .product__btn.js-popup
                                        .product__button.button Подробнее
                                .product__bg(style='background-image: url(assets/images/ellips.png)')
                                    .product__pic
                                        img(src="assets/images/ms361.png", alt="")
                        .product__body
                            .product__body-inner
                                .product__body-wrapper
                                    .product__body-text
                                        h2.product__title.title Бензопилы
                                        h3.product__subtitle.subtitle Пила MS 462
                                        img(src="assets/images/pro.png", alt="" class="product__subtitle-pic")
                                        span.product__text.text Суперманевренная пила с превосходным ускорением для валки леса и обрезки сучьев.
                                    .product__describe-wrap
                                        .product__describe.product__describe_block
                                            span <b>Технические данные</b>
                                        .product__describe
                                            span Рабочий объем 72,2 см³
                                        .product__describe
                                            span Мощность 6 л.с.
                                        .product__describe
                                            span Вес 6 кг(без горючего, шины и цепи)
                                        .product__describe
                                            span Шина 45 см (возможен другой вариант)
                                    .product__price
                                        span 49 990 ₽
                                    .product__price.product__price_old
                                        span 52 990 ₽
                                    .product__btn.js-popup
                                        .product__button.button Подробнее
                                .product__bg(style='background-image: url(assets/images/ellips.png)')
                                    .product__pic
                                        img(src="assets/images/M-MS462-D001.png", alt="")
                    .arrow
                        .js-slider-prev.arrow__item.arrow__item_left(aria-hidden="true")
                            include ../../assets/images/arrow-slide.svg
                        .js-slider-next.arrow__item.arrow__item_right(aria-hidden="true")
                            include ../../assets/images/arrow-slide.svg
                .product__row.js-slick-row
                    .product__item.item.js-item-slide(data-num="0")
                        .item__wrap
                            .item__product
                                img(src="assets/images/M-MS170-D002_small.png", alt="")
                            .item__text
                                span Пила MS 170
                    .product__item.item.js-item-slide(data-num="1")
                        .item__wrap
                            .item__product
                                img(src="assets/images/M-MS180-D001_small.png", alt="")
                            .item__text
                                span Пила MS 180
                    .product__item.item.js-item-slide(data-num="2")
                        .item__wrap
                            .item__product
                                img(src="assets/images/M172D005_small.png", alt="")
                            .item__text
                                span Пила MS 211
                    .product__item.item.js-item-slide(data-num="3")
                        .item__wrap
                            .item__product
                                img(src="assets/images/M-MS250-US-D001_small.png", alt="")
                            .item__text
                                span Пила MS 250
                    .product__item.item.js-item-slide(data-num="4")
                        .item__wrap
                            .item__product
                                img(src="assets/images/M172D005_small.png", alt="")
                            .item__text
                                span Пила MS 260 PRO
                    .product__item.item.js-item-slide(data-num="5")
                        .item__wrap
                            .item__product
                                img(src="assets/images/M172D005_small.png", alt="")
                            .item__text
                                span Пила MS 361 PRO
                    .product__item.item.js-item-slide(data-num="6")
                        .item__wrap
                            .item__product
                                img(src="assets/images/M172D005_small.png", alt="")
                            .item__text
                                span Пила MS 462 PRO
            #izmel.js-screen
                .product__wrapper
                    h2.product__title.product__title_hide.title ИЗМЕЛЬЧИТЕЛИ
                    .product__wrap.product__wrap_padding.product__wrap_relative.js-slick-two
                        .product__body
                            .product__body-inner
                                .product__body-wrapper.product__body-wrapper_right
                                    .product__body-text
                                        h2.product__title.title ИЗМЕЛЬЧИТЕЛИ
                                        h3.product__subtitle.subtitle Всасывающий измельчитель SH 86
                                        span.product__text.text Идеально подойдет для очистки больших площадей
                                    .product__describe-wrap
                                        .product__describe.product__describe_block
                                            span <b>Технические данные</b>
                                        .product__describe
                                            span Рабочий объем 27,2 см³
                                        .product__describe
                                            span Расход воздуха 770 м³/ч
                                        .product__describe
                                            span Объём улавливающего мешка 45 л
                                        .product__describe
                                            span Уровень звукового давления 93 дБ(A)
                                        .product__describe
                                            span Уровень звуковой мощности 106 дБ(A)
                                        .product__describe
                                            span Вес 5,5 кг (В сборе, без горючего, в режиме раздувания)
                                    .product__price
                                        span 22 990 ₽
                                    .product__btn.js-popup
                                        .product__button.button Подробнее
                                .product__bg.product__bg_order(style='background-image: url(assets/images/ellips.png)')
                                    .product__pic
                                        img(src="assets/images/S-SH86-D003_1.png", alt="")
                        .product__body
                            .product__body-inner
                                .product__body-wrapper.product__body-wrapper_right
                                    .product__body-text
                                        h2.product__title.title ИЗМЕЛЬЧИТЕЛИ
                                        h3.product__subtitle.subtitle Измельчитель GHE 105
                                        span.product__text.text Компактный электрический измельчитель измельчает всё: ветки, траву и листву. Уменьшает объем садового мусора на 90%, превращая его в удобрение.
                                    .product__describe-wrap
                                        .product__describe.product__describe_block
                                            span <b>Технические данные</b>
                                        .product__describe
                                            span Номинальное напряжение 230 В
                                        .product__describe
                                            span Мощность 2200 Вт
                                        .product__describe
                                            span Обороты 2800 об./мин
                                        .product__describe
                                            span Толщина веток до 35 см
                                        .product__describe
                                            span Высота устройства 97 см
                                        .product__describe
                                            span Вес: 19 кг      
                                        .product__describe
                                            span Материал корпуса: Полимер
                                    .product__price
                                        span 19 990 ₽
                                    .product__price.product__price_old
                                        span 21 990 ₽
                                    .product__btn.js-popup
                                        .product__button.button Подробнее
                                .product__bg.product__bg_order(style='background-image: url(assets/images/ellips.png)')
                                    .product__pic.product__pic_ghe
                                        img(src="assets/images/ghe105.png", alt="")
                    .arrow
                        .js-slider-prev.arrow__item.arrow__item_prev(aria-hidden="true")
                            include ../../assets/images/arrow-slide.svg
                        .js-slider-next.arrow__item.arrow__item_next(aria-hidden="true")
                            include ../../assets/images/arrow-slide.svg
                    .product__leaf#parallax3
                        img(src="assets/images/autumn_4.png", alt="" data-depth="0.4")
            #air.js-screen
                h2.product__title.product__title_hide.title Аэратор
                .product__wrap.product__wrap_padding.product__wrap_relative
                    .product__body
                        .product__body-wrapper
                            .product__body-text
                                h2.product__title.title Аэратор
                                h3.product__subtitle.subtitle Аэратор RLE 240
                                span.product__text.text Электрический садовый агрегат, дающий земле воздух, воду и питательные вещества. При обработке газона аэратором с него удаляются сорняки, мох, старая срезанная трава и войлочные наслоения. Газон становится гуще и качественнее.
                            .product__describe-wrap
                                .product__describe.product__describe_block
                                    span <b>Технические данные</b>
                                .product__describe
                                    span Номинальная мощность 1.500 Вт
                                .product__describe
                                    span Площадь газона 500 м2
                                .product__describe
                                    span Рабочая ширина 34 см
                                .product__describe
                                    span Вес инструмента 16 кг
                            .product__price
                                span 11 990 ₽
                            .product__btn.js-popup
                                .product__button.button Подробнее
                    .product__bg(style='background-image: url(assets/images/ellips.png)')
                        .product__pic.product__pic_three
                            img(src="assets/images/airator.png", alt="")
                    .product__leaf.product__leaf_top#parallax4
                        img(src="assets/images/autumn_5.png", alt="" data-depth="0.2")
                    .product__leaf.product__leaf_bottom#parallax5
                        img(src="assets/images/autumn_6.png", alt="" data-depth="0.6")
            #vozdux.js-screen
                h2.product__title.product__title_hide.title ВОЗДУХОДУВКА
                .product__wrap.product__wrap_relative
                    .product__body
                        .product__body-wrapper.product__body-wrapper_right.product__body-wrapper_width
                            .product__body-text
                                h2.product__title.title ВОЗДУХОДУВКА
                                h3.product__subtitle.subtitle Воздуходувное устройство<br> BG 50
                                span.product__text.text Легкое бензиновое воздуходувное устройство для работы на небольших участках.
                            .product__describe-wrap
                                .product__describe.product__describe_block
                                    span <b>Технические данные</b>
                                .product__describe
                                    span Рабочий объем 27 см³
                                .product__describe
                                    span Вес без топлива, в сборе 3,6 кг
                                .product__describe
                                    span Объем топливного бака 0,54 л
                                .product__describe
                                    span Расход воздуха 700 м³/ч (с круглой насадкой в режиме раздувания)
                                .product__describe
                                    span Максимальная скорость воздуха 58 м/с
                            .product__price
                                span 11 990 ₽
                            .product__btn.js-popup
                                .product__button.button Подробнее
                    .product__bg.product__bg_order(style='background-image: url(assets/images/ellips.png)')
                        .product__pic.product__pic_four
                            img(src="assets/images/S-BG50-L001.png", alt="")
                            .product__pic-wrap#parallax8
                                img(src="assets/images/autumn_10.png", alt="" data-depth="0.4")
                    .product__leaf.product__leaf_left#parallax6
                        img(src="assets/images/autumn_7.png", alt="" data-depth="0.2")
                    .product__leaf.product__leaf_right#parallax7
                        img(src="assets/images/autumn_8.png", alt="" data-depth="0.6")
            